$maincolor: #7633A6;
$lightcolor: #AD4BF2;
$boldcolor: #492066;
$pinkcolor: #E242FC;
$bluecolor: #7C42FC;
$lightredcolor: #F23FC8;
$redcolor: #DB2E5C;

$containerPadding: 16px;
$containerwidth: 1140px;

$htmlprogress: 70%;
$cssprogress: 60%;
$jsprogress: 10%;


@mixin heading {
    font-weight: bold;
    font-size: 48px;
    line-height: 57px;
}

@mixin smallheading {
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
}

@mixin paragraph {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

@mixin smalltext {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    font-family: 'Rubik', sans-serif;
}

.container {
  max-width: $containerwidth + $containerPadding * 2;
  margin: 0 auto;
  padding-right: $containerPadding;
  padding-left: $containerPadding;
}

// .header {
//     background-color: $boldcolor;
//     padding-top: 15px;
//     padding-bottom: 15px;

//     nav {
//         display: flex;
//         justify-content: space-between;

//         a {
//             text-decoration: none;
            
//             div {
//                 width: 40px;
//                 height: 40px;
//                 background-color: #fff;
//             }
//         }
//     }
// }

.intro {
    background-color: $lightcolor;
    min-height: 100vh;
    display: flex;
    align-items: center;

    img {
        width: 39.8%;
        margin-right: 16.1%;
    }

    &__wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__text {
        margin-left: 2.2%;
        padding-left: 24px;
        color: #FFFFFF;
        

        h2 {
            @include heading();
            margin-bottom: 4px;
            display: flex;

            img {
                width: 40px;
                height: 40px;
                margin-left: 10px;
            }
        }

        h3 {
            @include paragraph();
            margin-bottom: 64px;
        }

        p {
            @include paragraph();
            margin-bottom: 48px;

            span {
                @include paragraph();
                color: #E5F94D;
            }
        }
    }

    &__button {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        span {
        // @include smallesttext();
        margin-bottom: 11px;
        }

        a {
            text-align: center;
            text-decoration: none;
            padding: 10px 75px;
            background-color: $lightredcolor;
            color: #FFFFFF;
            border-radius: 10px;
        }
    }
}

.about {
    padding-top: 112px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    h2 {
        @include smallheading();
        color: #DB2E5C;
        margin-bottom: 32px;
    }

    p {
        @include paragraph();
        font-weight: normal;
        margin-bottom: 32px;
    }

    &__text {
        flex-basis: 0;
        flex-grow: 1;
        margin-right: 30px;
        
        .text__wrap {
            display: flex;
            justify-content: space-between;

            p {
                text-align: left;
                display: flex;
                flex-direction: column;
                @include smalltext();
                font-weight: normal;
                
                span {
                    color: #767575;
                    margin-bottom: 10px;
                }
            }
        }
    }

    img {
        flex-basis: 0;
        flex-grow: 1;
        width: 48.6%;
        height: 42.8%;
    }
}

.skills {
    padding-top: 90px;

    h2 {
        @include smallheading();
        color: #DB2E5C;
        text-align: center;
        margin-bottom: 24px;
    }

    hr {
        width: 100vw;
        border: 1px solid;
        margin-bottom: 48px;
        color: rgba(0, 0, 0, 0.2);
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__list {
        flex-basis: 0;
        flex-grow: 1;

        h2 {
            @include paragraph();
            text-align: left;
            color: #000;
        }

        p {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            @include smalltext();

            span {
                font-weight: normal;
                margin-top: 12px;
            }
        }
    }

    &__progress {
        align-items: center;
        flex-basis: 0;
        flex-grow: 1;

        .progressBar {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:not(:last-child) {
                margin-bottom: 54px;
            }

            h3 {
                &:first-child {
                    width: 68px;
                }
            }
        }

        .skills__html {
            div {
                width: 64.8%;
                height: 15px;
                background: #FFFFFF;
                border: 1px solid #C4C4C4;
                border-radius: 20px;
                
                div {
                    height: 100%;
                    width: $htmlprogress;
                    background: #DB2E5C;
                    border: none;
                    border-radius: 20px;
                }
            }
        }

        .skills__css {
            div {
                width: 64.8%;
                height: 15px;
                background: #FFFFFF;
                border: 1px solid #C4C4C4;
                border-radius: 20px;
                
                div {
                    height: 100%;
                    width: $cssprogress;
                    background: #DB2E5C;
                    border: none;
                    border-radius: 20px;
                }
            }
        }

        .skills__js {
            div {
                width: 64.8%;
                height: 15px;
                background: #FFFFFF;
                border: 1px solid #C4C4C4;
                border-radius: 20px;
                
                div {
                    height: 100%;
                    width: $jsprogress;
                    background: #DB2E5C;
                    border: none;
                    border-radius: 20px;
                }
            }
        }
    }
}



.projects {
    padding-top: 90px;

    h2 {
        @include smallheading();
        color: #DB2E5C;
        text-align: center;
        margin-bottom: 24px;
    }

    hr {
        width: 100vw;
        border: 1px solid;
        margin-bottom: 32px;
        color: rgba(0, 0, 0, 0.2);
    }

    p {
        @include smalltext();
        text-align: center;
        font-weight: normal;
        width: 42.1%;
        margin: 0 auto;
    }

    &__cards {
        padding-top: 48px;
        padding-bottom: 76px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

            figure {
            width: 360px;
            height: 280px;
            padding: 20px;
            border-radius: 1.5%;
            background-color: $lightcolor;
            
            display: flex;
            justify-content: center;
            align-items: center;

            figcaption {
                transition: .5s;
                
                a {
                    text-decoration: none;
                    color: #000;
                }
            }

            &:hover > figcaption {
                transform: scale(1.2);
            }

            &:nth-child(-n+3) {
                margin-bottom: 30px;
            }

            &:not(:nth-child(3n+3)) {
                margin-right: 30px;
            }
        }
    }
}

.contacts {
    display: none;
}

.footer {
    background-color: $boldcolor;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;

    &__wrap {
        display: flex;
        justify-content: space-between;
    }
    &__links {

        ul {
            list-style-type: none;
            display: flex;

            li {
                background-color: black;
                width: 25px;
                height: 25px;
                border-radius: 2px;

                &:not(:last-child) {
                    margin-right: 6px;
                }
            }
        }
    }
}


@import "block/meadia";