* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: 'Rubik', sans-serif;
}

.container {
  max-width: 1172px;
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
}

.intro {
  background-color: #AD4BF2;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro img {
  width: 39.8%;
  margin-right: 16.1%;
}

.intro__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.intro__text {
  margin-left: 2.2%;
  padding-left: 24px;
  color: #FFFFFF;
}

.intro__text h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 57px;
  margin-bottom: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__text h2 img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.intro__text h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 64px;
}

.intro__text p {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 48px;
}

.intro__text p span {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #E5F94D;
}

.intro__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.intro__button span {
  margin-bottom: 11px;
}

.intro__button a {
  text-align: center;
  text-decoration: none;
  padding: 10px 75px;
  background-color: #F23FC8;
  color: #FFFFFF;
  border-radius: 10px;
}

.about {
  padding-top: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: #DB2E5C;
  margin-bottom: 32px;
}

.about p {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  margin-bottom: 32px;
}

.about__text {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 30px;
}

.about__text .text__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__text .text__wrap p {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
}

.about__text .text__wrap p span {
  color: #767575;
  margin-bottom: 10px;
}

.about img {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 48.6%;
  height: 42.8%;
}

.skills {
  padding-top: 90px;
}

.skills h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: #DB2E5C;
  text-align: center;
  margin-bottom: 24px;
}

.skills hr {
  width: 100vw;
  border: 1px solid;
  margin-bottom: 48px;
  color: rgba(0, 0, 0, 0.1);
}

.skills__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills__list {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.skills__list h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  color: #000;
}

.skills__list p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.skills__list p span {
  font-weight: normal;
  margin-top: 12px;
}

.skills__progress {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.skills__progress .progressBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__progress .progressBar:not(:last-child) {
  margin-bottom: 54px;
}

.skills__progress .progressBar h3:first-child {
  width: 68px;
}

.skills__progress .skills__html div {
  width: 64.8%;
  height: 15px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  border-radius: 20px;
}

.skills__progress .skills__html div div {
  height: 100%;
  width: 70%;
  background: #DB2E5C;
  border: none;
  border-radius: 20px;
}

.skills__progress .skills__css div {
  width: 64.8%;
  height: 15px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  border-radius: 20px;
}

.skills__progress .skills__css div div {
  height: 100%;
  width: 60%;
  background: #DB2E5C;
  border: none;
  border-radius: 20px;
}

.skills__progress .skills__js div {
  width: 64.8%;
  height: 15px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  border-radius: 20px;
}

.skills__progress .skills__js div div {
  height: 100%;
  width: 10%;
  background: #DB2E5C;
  border: none;
  border-radius: 20px;
}

.projects {
  padding-top: 90px;
}

.projects h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: #DB2E5C;
  text-align: center;
  margin-bottom: 24px;
}

.projects hr {
  width: 100vw;
  border: 1px solid;
  margin-bottom: 32px;
  color: rgba(0, 0, 0, 0.1);
}

.projects p {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  font-weight: normal;
  width: 42.1%;
  margin: 0 auto;
}

.projects__cards {
  padding-top: 48px;
  padding-bottom: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects__cards figure {
  width: 360px;
  height: 280px;
  padding: 20px;
  border-radius: 1.5%;
  background-color: #AD4BF2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__cards figure figcaption {
  -webkit-transition: .5s;
  transition: .5s;
}

.projects__cards figure figcaption a {
  text-decoration: none;
  color: #000;
}

.projects__cards figure:hover > figcaption {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.projects__cards figure:nth-child(-n+3) {
  margin-bottom: 30px;
}

.projects__cards figure:not(:nth-child(3n+3)) {
  margin-right: 30px;
}

.contacts {
  display: none;
}

.footer {
  background-color: #492066;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__links ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__links ul li {
  background-color: black;
  width: 25px;
  height: 25px;
  border-radius: 2px;
}

.footer__links ul li:not(:last-child) {
  margin-right: 6px;
}

@media (max-width: 1172px) {
  .intro img {
    margin-bottom: 30px;
    margin-right: 0;
  }
  .link__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .link__cards figure:nth-child(-n+5) {
    margin-bottom: 30px;
  }
  .link__cards figure:not(:nth-child(3n+3)) {
    margin-right: 0;
  }
  .projects__cards figure:not(:nth-child(3n)) {
    margin-right: 16px;
  }
  .projects__cards figure:nth-child(3n) {
    margin-right: 0;
  }
  .projects__cards figure:nth-child(-n+3) {
    margin-bottom: 16px;
  }
}

@media (max-width: 1143px) {
  .projects__cards figure:not(:nth-child(2n)) {
    margin-right: 16px;
  }
  .projects__cards figure:nth-child(2n) {
    margin-right: 0;
  }
  .projects__cards figure:nth-child(-n+4) {
    margin-bottom: 16px;
  }
}

@media (max-width: 768px) {
  .intro__img {
    display: none;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__text {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .about img {
    width: 100%;
  }
  .skills__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skills__list {
    margin-bottom: 30px;
  }
  .skills__progress .skills__html div {
    width: 200px;
    margin-right: 15px;
  }
  .skills__progress .skills__css div {
    width: 200px;
    margin-right: 15px;
  }
  .skills__progress .skills__js div {
    width: 200px;
    margin-right: 15px;
  }
  .projects p {
    width: 100%;
  }
  .projects__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects__cards figure {
    width: 328px;
  }
  .projects__cards figure:not(:nth-child(2n)) {
    margin-right: 0px;
  }
  .projects__cards figure:not(:last-child) {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */