.intro {
    &__action {
        a {
            transition:  0.5s;
        }

        a:hover {
            transform: scale(1.05);
        }
    }
}


// .direction {
//     &__cards {
//         .card {
//             transition:  0.5s;
//         }

//         .card:hover {
//             transform: scale(1.05);
//         }
//     }
// }


.action {
    &__wrap {
        a {
            transition:  0.5s;
        }

        a:hover {
            transform: scale(1.05);
        }
    }
}


.form {
    &__wrap {
        form {
            input[type=submit] {
                transition:  0.5s;
            }

            input[type=submit]:hover {
                transform: scale(1.05);
            }
        }
    }
}


.footer {
    &__buttons {
        a {
            transition:  0.5s;
        }

        a:hover {
            transform: scale(1.05);
        }
    }
}