* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1180px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.header {
  background: #ffffff;
  height: 80px;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 80px;
}

.header__button {
  border: none;
  background: none;
}

.header__button img {
  width: 40px;
}

.intro {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/introbgi.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/introbgi.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}

.intro__action {
  height: calc(100vh - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__action h1 {
  font-weight: bold;
  font-size: 64px;
  line-height: 76px;
  color: #ffffff;
  padding-bottom: 2px;
}

.intro__action p {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  padding-bottom: 28px;
}

.intro__action span {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  padding-bottom: 28px;
  width: 26.3%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0;
}

.intro__action a {
  padding: 15px 24px;
  text-decoration: none;
  background: #FE71A8;
  border-radius: 10px;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
}

.gradient {
  background: linear-gradient(298.3deg, rgba(175, 81, 214, 0.15) 71.17%, rgba(175, 81, 214, 0) 100%);
}

.about {
  padding-top: 90px;
  padding-bottom: 90px;
}

.about__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__wrap video {
  width: 460px;
}

.about__desc {
  padding-right: 128px;
}

.about__desc h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: #000;
  margin-bottom: 24px;
}

.about__desc p {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #000;
}

.features {
  padding-top: 90px;
  padding-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 70px;
}

.features__desc {
  padding-right: 84px;
}

.features__desc h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: #000;
  margin-bottom: 24px;
}

.features__desc p {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  padding-bottom: 24px;
}

.features__desc p:last-child {
  padding-bottom: 0;
}

.features__desc p:last-child span {
  font-weight: bold;
}

.features button {
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #fff;
  border: none;
  background: none;
  padding: 12px 74px;
  background: #FE71A8;
  border-radius: 10px;
}

.direction {
  padding-top: 80px;
  padding-bottom: 100px;
}

.direction__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 60px;
}

.direction__desc h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: #000;
  text-align: justify;
  width: 25%;
  margin-right: 106px;
}

.direction__desc h2 span {
  color: #E44071;
}

.direction__desc p {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #000;
}

.direction__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.direction__cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(1140px / 5);
  height: 200px;
  cursor: pointer;
  padding: 20px 15px 10px;
}

.direction__cards .card h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.direction__cards .card span {
  font-size: 96px;
  line-height: 70px;
  font-weight: bold;
  color: #ffffff;
}

.direction__cards .card:first-child {
  background: #751751;
}

.direction__cards .card:nth-child(2) {
  background: #F77BC7;
}

.direction__cards .card:nth-child(3) {
  background: #F531AA;
}

.direction__cards .card:nth-child(4) {
  background: #754A65;
}

.direction__cards .card:last-child {
  background: #C22786;
}

.action {
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: url("../img/action.png");
}

.action__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.action__wrap h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: #000;
  margin-bottom: 40px;
}

.action__wrap a {
  text-decoration: none;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #fff;
  padding: 12px 74px;
  background: #FE71A8;
  border-radius: 10px;
}

.form {
  padding-top: 70px;
  padding-bottom: 90px;
}

.form__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__wrap h2 {
  font-weight: 500;
  font-size: 48px;
  line-height: 57px;
  color: #000000;
  margin-bottom: 80px;
}

.form__wrap form {
  width: 57%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__wrap form .form__radio {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 15px;
}

.form__wrap form label, .form__wrap form p {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.form__wrap form label#gender {
  margin-bottom: 0;
  margin-right: 26px;
}

.form__wrap form input:not([type=submit]) {
  border: 1px solid #3E1A26;
  border-radius: 5px;
  width: 100%;
  height: 35px;
  padding: 10px;
}

.form__wrap form input[type=radio] {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.form__wrap form textarea {
  padding: 10px;
  height: 200px;
  width: 100%;
  margin-bottom: 64px;
  resize: none;
}

.form__wrap form input[type=submit] {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 12px 56px;
  width: 280px;
  border: none;
  background: #FF69A4;
  border-radius: 10px;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #ffffff;
  margin-bottom: 18px;
  -webkit-filter: drop-shadow(5px 8px 15px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(5px 8px 15px rgba(0, 0, 0, 0.25));
}

.form__wrap form p:last-child {
  font-size: 16px;
  width: 300px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.footer {
  padding-top: 44px;
  padding-bottom: 44px;
  background: #292929;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 44px;
}

.footer__buttons a {
  width: 262px;
  padding: 9px 0;
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  background: #FAA04F;
  border-radius: 5px;
}

.footer__buttons a:first-child {
  margin-bottom: 10px;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__links ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__links ul .break {
  width: 100%;
}

.footer__links ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #ffffff;
}

.footer__links ul li a i {
  font-size: 40px;
  color: #ffffff;
  margin-right: 16px;
}

.footer__links ul li a p {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.footer__links ul li:nth-child(3n+1) {
  margin-right: 42px;
}

.footer__links ul li:first-child, .footer__links ul li:nth-child(2) {
  margin-bottom: 14px;
}

.footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copy p {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */