.main.active {
  .maintext::after {
    content: '';
  }

  .subtext::after {
    content: '';
  }

  &.count1 {
    .maintext::after {
      content: 'Ты попалась!';
    }

    .subtext::after {
      content: 'На самом деле, этот сайт - моя интернет-открытка';
    }
  }

  &.count2 {
    .maintext::after {
      content: 'Сегодня 12.03.2022';
    }

    .subtext::after {
      content: 'Если ты конечно открыла этот сайт 12 марта 2022 года :)';
    }
  }

  &.count3 {
    .maintext::after {
      content: 'А это значит...';
    }

    .subtext::after {
      content: 'Что ровно год назад, началась наша с тобой новая история';
    }
  }

  &.count4 {
    .maintext::after {
      content: 'За это время...';
    }

    .subtext::after {
      content: 'Мы с тобой пережили множетво разных событий. Как хороших, так и не очень.';
    }
  }

  &.count5 {
    .maintext::after {
      content: 'К сожалению...';
    }

    .subtext::after {
      content: 'Сейчас у нас сейчас нет возможности отпраздновать это вместе и провести время друг с другом, но это не значит что я не могу сделать тебе приятно и поздравить несмотря на обстоятельства!';
    }
  }


  &.count6 {
    .maintext::after {
      content: 'Главное что я хочу сказать...';
    }

    .subtext::after {
      content: 'Это то, что я очень сильно тебя люблю. Я плохо излагаю свои мысли, с трудом понимаю людей, часто веду себя как последний эгоист и вообще есть миллион причин меня не любить';
    }
  }

  &.count7 {
    .maintext::after {
      content: 'Но немотря на все это...';
    }

    .subtext::after {
      content: 'Ты все еще рядом насколько это возможно. Ты поддерживаешь меня и помагаешь исправить мои острые и неприятные стороны.';
    }
  }

  &.count8 {
    .maintext::after {
      content: 'Я очень тебя люблю!';
    }

    .subtext::after {
      content: 'Ты мой самый близкий и дорогой человек. Ты красишь мою жизнь в яркие и сочные цвета.';
    }
  }

  &.count9 {
    .maintext::after {
      content: 'Ты...';
    }

    .subtext::after {
      content: 'Самый красивый человек на свете. За твою улыбку можно пойти воевать. Я хочу каждый день проводить только с тобой, и не сомневайся что так оно и будет!';
    }
  }

  &.count10 {
    .maintext::after {
      content: ':(';
    }

    .subtext::after {
      content: 'Прости что не могу подарить тебе что-то физическое, что-то что можно потрогать. Но в качестве компенсации тебя вечером ждет твоя любимая веганская пицца. Так что будь готова вкусно покушать';
    }
  }

  &.count11 {
    .maintext::after {
      content: 'На последок';
    }

    .subtext::after {
      content: 'Я очень надеюсь что ты будешь рядом со мной до самого конца. Я не хочу тебя отпускать. Хочу прожить с тобой всю свою жизнь. Только с тобой... Надеюсь что так и будет. Так что сполне возможно что в следующем году, ты перейдешь по этой ссылке и увидишь что-то новое). Люблю тебя малыш!';
    }
  }

  &.count12 {
    .maintext::after {
      content: 'P.s';
    }

    .subtext::after {
      content: 'Я не очень хорошо придумываю текст, но пишу от сердца, так что не смейся с моей манеры речи. Кстати. На сайте тебе пришлось нажать на кнопку 12 раз. Совпадение?';
    }
  }
}