@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-height: 100%;
  min-height: 100%;
  display: none;
  opacity: 0%;
  z-index: 1;
}

.main {
  height: 100vh;
  width: 100vw;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  z-index: 10;
}

.maintext {
  font-size: 16px;
  margin-bottom: 18px;
}
.maintext::after {
  display: block;
  content: "Привет!";
  font-size: 40px;
  width: 600px;
}

.subtext {
  font-size: 14px;
  margin-bottom: 20px;
}
.subtext::after {
  display: block;
  content: "Нажми на кнопку";
  font-size: 18px;
  width: 650px;
}

button {
  border: none;
  color: white;
  font-size: 14px;
  background: orange;
  padding: 8px 48px;
  border-radius: 10px;
}
button.active {
  visibility: hidden;
  display: none;
}

.main.active .maintext::after {
  content: "";
}
.main.active .subtext::after {
  content: "";
}
.main.active.count1 .maintext::after {
  content: "Ты попалась!";
}
.main.active.count1 .subtext::after {
  content: "На самом деле, этот сайт - моя интернет-открытка";
}
.main.active.count2 .maintext::after {
  content: "Сегодня 12.03.2022";
}
.main.active.count2 .subtext::after {
  content: "Если ты конечно открыла этот сайт 12 марта 2022 года :)";
}
.main.active.count3 .maintext::after {
  content: "А это значит...";
}
.main.active.count3 .subtext::after {
  content: "Что ровно год назад, началась наша с тобой новая история";
}
.main.active.count4 .maintext::after {
  content: "За это время...";
}
.main.active.count4 .subtext::after {
  content: "Мы с тобой пережили множетво разных событий. Как хороших, так и не очень.";
}
.main.active.count5 .maintext::after {
  content: "К сожалению...";
}
.main.active.count5 .subtext::after {
  content: "Сейчас у нас сейчас нет возможности отпраздновать это вместе и провести время друг с другом, но это не значит что я не могу сделать тебе приятно и поздравить несмотря на обстоятельства!";
}
.main.active.count6 .maintext::after {
  content: "Главное что я хочу сказать...";
}
.main.active.count6 .subtext::after {
  content: "Это то, что я очень сильно тебя люблю. Я плохо излагаю свои мысли, с трудом понимаю людей, часто веду себя как последний эгоист и вообще есть миллион причин меня не любить";
}
.main.active.count7 .maintext::after {
  content: "Но немотря на все это...";
}
.main.active.count7 .subtext::after {
  content: "Ты все еще рядом насколько это возможно. Ты поддерживаешь меня и помагаешь исправить мои острые и неприятные стороны.";
}
.main.active.count8 .maintext::after {
  content: "Я очень тебя люблю!";
}
.main.active.count8 .subtext::after {
  content: "Ты мой самый близкий и дорогой человек. Ты красишь мою жизнь в яркие и сочные цвета.";
}
.main.active.count9 .maintext::after {
  content: "Ты...";
}
.main.active.count9 .subtext::after {
  content: "Самый красивый человек на свете. За твою улыбку можно пойти воевать. Я хочу каждый день проводить только с тобой, и не сомневайся что так оно и будет!";
}
.main.active.count10 .maintext::after {
  content: ":(";
}
.main.active.count10 .subtext::after {
  content: "Прости что не могу подарить тебе что-то физическое, что-то что можно потрогать. Но в качестве компенсации тебя вечером ждет твоя любимая веганская пицца. Так что будь готова вкусно покушать";
}
.main.active.count11 .maintext::after {
  content: "На последок";
}
.main.active.count11 .subtext::after {
  content: "Я очень надеюсь что ты будешь рядом со мной до самого конца. Я не хочу тебя отпускать. Хочу прожить с тобой всю свою жизнь. Только с тобой... Надеюсь что так и будет. Так что сполне возможно что в следующем году, ты перейдешь по этой ссылке и увидишь что-то новое). Люблю тебя малыш!";
}
.main.active.count12 .maintext::after {
  content: "P.s";
}
.main.active.count12 .subtext::after {
  content: "Я не очень хорошо придумываю текст, но пишу от сердца, так что не смейся с моей манеры речи. Кстати. На сайте тебе пришлось нажать на кнопку 12 раз. Совпадение?";
}

#bgVideo.active {
  display: block;
  opacity: 35%;
  transition: opacity 10s;
}

@keyframes bgShading {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 35%;
  }
}

/*# sourceMappingURL=style.css.map */
